body {
	background: #f2e7e5;
	font-family: sans-serif;
}
.text{
    text-align: center;
    padding-top: 2%;
    
}
.wrapper {
	width: 900px;
	min-height: auto;
	margin: 20px auto;
	
}
.box{
	background:#f2e7e5;
	padding: 20%;
	size:1000px;
	content-visibility: hidden;
	
}
.wrapper ul {
	list-style: none;
	padding: 0;
	
}

.text-block {
	text-align: center;
	padding-top: 310px;
	font-size: 20px;
	
}
 .wrapper .title{
   
	font-weight: 600;
	color: black;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 0 0;
	
}

.wrapper .post{


    color:black;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
	


}
 
 .wrapper ul:after {
	content: '';
	display:table;
	clear: both;
	
	
	 
}
.wrapper ul li  {
    border-radius: 30px;
	width: calc(30% - 5px);
	margin: 50px 15px 0;
	height: 300px;
	background-size: cover;
	background-position: center center;
	float: left;
	box-shadow: 0 15px 10px 1px rgba(0, 0, 0, 0.5);
	
}
.wrapper ul li:nth-child(1n + 4) {
	max-height: 0;
	opacity: 1;
	transition: 0.2s ease-in;
	
	
}
.wrapper .btn-area  {
	display: block;
	background:grey;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-weight: 900;
	width: 180px;
	line-height: 50px;
	margin: 50px auto 0;
	border-radius: 50px;
	
	
	
	
}
.wrapper .btn-area .btn2 {
	display:none;

}

.wrapper #btnBox {
	display: none;
	
	
	
}
.wrapper #btnBox:checked~ul li:nth-child(1n + 4) {
	max-height:1000px;
	opacity:1;
	transition: 0.2s ease-in;
	
	
	
}
.wrapper #btnBox:checked~.btn-area .btn2 {
	display: block;
}
.wrapper #btnBox:checked~.btn-area .btn1 {
	display: none;
	
}
